<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('navbar'); %>
    <h1 class="mt-5"><%= title %></h1>
    <p>Welcome to my blog site. 
      I am a student at Millersville University, and I am currently studying computer science.</br>
      This website is a mock up blog site project for a class assignment.
    </p>
  </body>
</html>
